<div class="h-100 flex-center">
  <div @fadeIn *ngIf="isLogin">
    <app-login (handleChangeAuthType)="changeAuthType($event)"> </app-login>
  </div>

  <div @fadeIn *ngIf="isSignup">
    <app-signup (handleChangeAuthType)="changeAuthType($event)"> </app-signup>
  </div>

  <div @fadeIn *ngIf="isPasswordReset">
    <app-reset-password (handleChangeAuthType)="changeAuthType($event)">
    </app-reset-password>
  </div>
</div>
