<h1 class="mb-4 text-primary text-center">
  {{ "auth.createAccount" | translate }}
</h1>

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="d-flex flex-column mt-3"
>
  <mat-form-field appearance="outline">
    <mat-label for="email">{{ "auth.emailLabel" | translate }}</mat-label>
    <input
      [placeholder]="'auth.emailPlaceholder' | translate"
      formControlName="email"
      type="email"
      autocomplete="off"
      matInput
    />
    <mat-error @fadeIn *ngIf="emailInvalid">
      {{ "auth.emailInvalid" | translate }}
    </mat-error>
    <mat-error @fadeIn *ngIf="emailTaken">
      {{ "auth.emailTaken" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="password">{{ "auth.passwordLabel" | translate }}</mat-label>
    <input
      [placeholder]="'auth.passwordPlaceholder' | translate"
      formControlName="password"
      type="password"
      autocomplete="off"
      matInput
    />
    <mat-error @fadeIn *ngIf="passwordInvalid">
      {{
        "auth.passwordInvalid" | translate: { minChars: MIN_PASSWORD_LENGTH }
      }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="password-confirm">{{
      "auth.passwordConfirmLabel" | translate
    }}</mat-label>

    <input
      [placeholder]="'auth.passwordConfirmPlaceholder' | translate"
      formControlName="passwordConfirm"
      type="password"
      autocomplete="off"
      matInput
    />
    <mat-error @fadeIn *ngIf="!passwordDoesMatch">
      {{ "auth.passwordNotMatching" | translate }}
    </mat-error>
  </mat-form-field>

  <div class="d-flex flex-column align-items-center">
    <button
      [disabled]="form.invalid || isLoading"
      type="submit"
      color="primary"
      class="w-100 my-3 fs-6"
      mat-raised-button
    >
      {{ "auth.signUp" | translate }}
      <mat-icon class="button-spinner">
        <mat-spinner @fadeIn *ngIf="isLoading" diameter="20"></mat-spinner>
      </mat-icon>
    </button>

    <button
      (click)="handleChangeAuthType.emit('login')"
      [disabled]="isLoading"
      mat-stroked-button
    >
      {{ "auth.goToLogin" | translate }}
    </button>
  </div>
</form>
