<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center" style="height: 64px">
    <mat-checkbox
      *ngIf="!isNewItem"
      (change)="onChangeCheck($event)"
      [checked]="shoppingListItem.isChecked"
      class="me-4"
    ></mat-checkbox>

    <div [ngClass]="{ 'item-checked': shoppingListItem.isChecked }">
      <mat-form-field @fadeIn *ngIf="isEditing" class="mt-1">
        <mat-label>
          {{ "shoppingList.itemName" | translate }}
        </mat-label>
        <input
          #itemNameInput
          (keyup.enter)="shoppingListItem.name?.length && onClickEditNameDone()"
          [(ngModel)]="shoppingListItem.name"
          [placeholder]="'shoppingList.itemName' | translate"
          type="text"
          matInput
        />
        <button
          (click)="onClickEditNameDone()"
          [disabled]="!shoppingListItem.name?.length"
          color="accent"
          mat-icon-button
          matSuffix
        >
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>

      <mat-chip-list *ngIf="!isEditing">
        <mat-chip (click)="onClickItemName()">
          {{ shoppingListItem.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <button
    (click)="deleteItemChange.emit(shoppingListItem)"
    mat-icon-button
  >
    <mat-icon class="text-dark-light">remove</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>
