<h2>
  {{ "home.addNewList" | translate }}
</h2>

<mat-form-field appearance="fill" class="w-100 my-3">
  <mat-label>{{ "home.listNameLabel" | translate }}</mat-label>
  <input
    [(ngModel)]="shoppingListName"
    [placeholder]="'home.listNamePlaceholder' | translate"
    matInput
  />
</mat-form-field>

<div class="d-flex justify-content-between">
  <button mat-stroked-button matDialogClose>
    {{ "general.actions.cancel" | translate }}
  </button>

  <button
    (click)="onPressSave()"
    [disabled]="!shoppingListName || isLoading"
    color="primary"
    class="px-5 ms-5"
    mat-flat-button
  >
    {{ "general.actions.save" | translate }}

    <mat-icon class="button-spinner">
      <mat-spinner @fadeIn *ngIf="isLoading" diameter="20"></mat-spinner>
    </mat-icon>
  </button>
</div>
