// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-primary: (
  50: #e6f3fb,
  100: #c0e1f4,
  200: #96ceed,
  300: #6cbae6,
  400: #4dabe0,
  500: #2d9cdb,
  600: #2894d7,
  700: #228ad2,
  800: #1c80cd,
  900: #116ec4,
  A100: #f2f8ff,
  A200: #bfdeff,
  A400: #8cc4ff,
  A700: #73b7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-secondary: (
  50: #e9f9f0,
  100: #c7f0d8,
  200: #a2e6bf,
  300: #7ddba5,
  400: #61d491,
  500: #45cc7e,
  600: #3ec776,
  700: #36c06b,
  800: #2eb961,
  900: #1fad4e,
  A100: #e6ffee,
  A200: #b3ffca,
  A400: #80ffa7,
  A700: #67ff95,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-dark: (
  50: #e3e6e8,
  100: #b9c1c6,
  200: #8b98a0,
  300: #5c6f7a,
  400: #39505e,
  500: #163141,
  600: #132c3b,
  700: #102532,
  800: #0c1f2a,
  900: #06131c,
  A100: #5bb2ff,
  A200: #289aff,
  A400: #0081f4,
  A700: #0073db,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-success: (
  50: #e5fcee,
  100: #bdf7d5,
  200: #92f1b9,
  300: #66eb9c,
  400: #45e787,
  500: #24e372,
  600: #20e06a,
  700: #1bdc5f,
  800: #16d855,
  900: #0dd042,
  A100: #fcfffd,
  A200: #c9ffd6,
  A400: #96ffae,
  A700: #7dff9b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #fffae9,
  100: #fff2c8,
  200: #ffe9a4,
  300: #ffe080,
  400: #ffd964,
  500: #ffd249,
  600: #ffcd42,
  700: #ffc739,
  800: #ffc131,
  900: #ffb621,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffeed0,
  A700: #ffe5b7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-danger: (
  50: #fff0ef,
  100: #ffdad7,
  200: #ffc1bd,
  300: #ffa8a2,
  400: #ff968e,
  500: #ff837a,
  600: #ff7b72,
  700: #ff7067,
  800: #ff665d,
  900: #ff534a,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff1f1,
  A700: #ffd9d7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$simpler-primary: mat-palette($md-primary);
$simpler-secondary: mat-palette($md-secondary);
$simpler-accent: mat-palette($md-secondary);
$simpler-dark: mat-palette($md-dark);
$simpler-success: mat-palette($md-success);
$simpler-danger: mat-palette($md-danger);
$simpler-warn: mat-palette($md-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$simpler-theme: mat-light-theme(
  (
    color: (
      primary: $simpler-primary,
      secondary: $simpler-secondary,
      accent: $simpler-accent,
      dark: $simpler-dark,
      success: $simpler-success,
      danger: $simpler-danger,
      warn: $simpler-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($simpler-theme);

$primary: mat-color($simpler-primary);
$secondary: mat-color($simpler-secondary);
$accent: mat-color($simpler-accent);
$dark: mat-color($simpler-dark);
$success: mat-color($simpler-success);
$danger: mat-color($simpler-danger);
$warn: mat-color($simpler-warn);
