/* You can add global styles to this file, and also import other style files */
@import "./utilities.scss";
@import "./variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--light);
}
body.mat-typography h1,
body.mat-typography h2,
body.mat-typography h3,
body.mat-typography h4,
body.mat-typography h5,
body.mat-typography h6,
body.mat-typography p {
  margin: 0;
}

button {
  .button-spinner {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
}

mat-icon.mat-icon {
  &.icon-small {
    $size: 18px;
    width: $size;
    height: $size;
    font-size: $size;
    line-height: $size;
  }
  &.icon-large {
    $size: 32px;
    width: $size;
    height: $size;
    font-size: $size;
    line-height: $size;
  }
}
