:root {
  // COLORS
  --primary: #2D9CDB;
  --primary-light: #B0E2FE;
  --primary-dark: #0C74AF;

  --secondary: #45CC7E;
  --secondary-light: #45CC7E;
  --secondary-dark: #0B9244;

  --dark: #163141;
  --dark-light: #56677e;
  --dark-dark: #071D29;

  --light: #fdfeff;
  --light-light: #ffffff;
  --light-dark: #cacbcc;

  --success: #24e372;
  --success-light: #6effa2;
  --success-dark: #00b044;

  --warning: #ffd249;
  --warning-light: #ffff7b;
  --warning-dark: #c8a108;

  --danger: #FF4E4E;
  --danger-light: #FFC6C1;
  --danger-dark: #C50025;

  --transparent-light: rgba(255, 255, 255, 0.04);
  --transparent-dark: rgba(0, 0, 0, 0.04);

  --transition-duration-fast: 120ms;
  --transition-duration: 240ms;
  --transition-duration-slow: 480ms;
}
