<h1 class="mb-4 text-primary text-center">
  {{ "auth.resetPassword" | translate }}
</h1>

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="d-flex flex-column mt-3"
>
  <mat-form-field appearance="outline">
    <mat-label for="email">{{ "auth.emailLabel" | translate }}</mat-label>
    <input
      [placeholder]="'auth.emailPlaceholder' | translate"
      formControlName="email"
      type="email"
      autocomplete="off"
      matInput
    />
    <mat-error @fadeIn *ngIf="emailInvalid">
      {{ "auth.emailInvalid" | translate }}
    </mat-error>
  </mat-form-field>

  <div class="d-flex flex-column align-items-center">
    <button
      [disabled]="isLoading || form.invalid"
      type="submit"
      color="primary"
      class="w-100 my-3 fs-6"
      mat-raised-button
    >
      {{ "auth.sendPasswordReset" | translate }}
      <mat-icon class="button-spinner">
        <mat-spinner @fadeIn *ngIf="isLoading" diameter="20"></mat-spinner>
      </mat-icon>
    </button>

    <button
      (click)="handleChangeAuthType.emit('login')"
      [disabled]="isLoading"
      mat-stroked-button
    >
      {{ "general.actions.back" | translate }}
    </button>
  </div>
</form>
