<mat-progress-bar
  *ngIf="(authService.isAuthenticated$ | async) === null"
  mode="indeterminate"
></mat-progress-bar>
<div class="h-100 flex-center">
  <div class="h-100" style="min-width: 320px; width: 50vw">
    <router-outlet></router-outlet>
  </div>

  <button
    (click)="signOut()"
    *ngIf="authService.isAuthenticated$ | async"
    [disabled]="isLoadingSignOut"
    color="warn"
    class="px-5 mb-5 position-absolute bottom-0"
    mat-flat-button
  >
    <mat-icon class="me-2"> logout </mat-icon>
    {{ "auth.logout" | translate }}
    <mat-icon class="button-spinner">
      <mat-spinner *ngIf="isLoadingSignOut" diameter="20"></mat-spinner>
    </mat-icon>
  </button>
</div>
