<div class="mt-5 mb-4 d-flex justify-content-between">
  <h1 class="text-dark">
    {{ "home.yourLists" | translate }}
  </h1>
  <button (click)="presentAddListDialog()" color="primary" mat-raised-button>
    <mat-icon> playlist_add </mat-icon>
    {{ "home.addNewList" | translate }}
  </button>
</div>

<div @fadeIn *ngIf="shoppingLists$ | async as shoppingLists">
  <mat-selection-list
    @fadeIn
    *ngIf="shoppingLists"
    [multiple]="false"
    style="max-height: 65vh; overflow-y: auto;"
  >
    <mat-list-option
      *ngFor="let shoppingList of shoppingLists"
      [routerLink]="['/shopping-list', shoppingList.id]"
    >
      {{ shoppingList.name }}
    </mat-list-option>
  </mat-selection-list>

  <div class="flex-center">
    <div @fadeIn *ngIf="shoppingLists?.length === 0">
      <h2>
        {{ "home.emptyStateTitle" | translate }}
      </h2>
    </div>

    <mat-progress-spinner
      @fadeIn
      *ngIf="!shoppingLists"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</div>
