<h1 class="mb-4 text-primary text-center">
  {{ "auth.login" | translate }}
</h1>

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="d-flex flex-column mt-3"
>
  <mat-form-field appearance="outline">
    <mat-label for="email">{{ "auth.emailLabel" | translate }}</mat-label>
    <input
      [placeholder]="'auth.emailPlaceholder' | translate"
      formControlName="email"
      type="email"
      autocomplete="off"
      matInput
    />
    <mat-error @fadeIn *ngIf="emailInvalid">
      {{ "auth.emailInvalid" | translate }}
    </mat-error>
    <mat-error @fadeIn *ngIf="userNotFound">
      {{ "auth.userNotFound" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="password">{{ "auth.passwordLabel" | translate }}</mat-label>
    <input
      [placeholder]="'auth.passwordPlaceholder' | translate"
      formControlName="password"
      type="password"
      autocomplete="off"
      matInput
    />
    <mat-error @fadeIn *ngIf="isWrongPassword">
      {{ "auth.wrongPassword" | translate }}
    </mat-error>
  </mat-form-field>

  <button
    (click)="handleChangeAuthType.emit('passwordReset')"
    [disabled]="isLoading"
    mat-button
  >
    {{ "auth.goToPasswordReset" | translate }}
  </button>

  <div class="d-flex flex-column align-items-center">
    <button
      [disabled]="form.invalid || isLoading"
      type="submit"
      color="primary"
      class="w-100 my-3 fs-6"
      mat-raised-button
    >
      {{ "auth.login" | translate }}
      <mat-icon class="button-spinner">
        <mat-spinner @fadeIn *ngIf="isLoading" diameter="20"></mat-spinner>
      </mat-icon>
    </button>

    <button
      (click)="handleChangeAuthType.emit('signup')"
      [disabled]="isLoading"
      mat-stroked-button
    >
      {{ "auth.goToSignup" | translate }}
    </button>
  </div>
</form>
