<div @fadeIn *ngIf="!isLoading" class="mt-5">
  <button routerLink="/home" mat-button>
    <mat-icon class="me-2"> arrow_back </mat-icon>
    {{ "shoppingList.backButtonText" | translate }}
  </button>
  <div class="mb-4 mt-3 d-flex justify-content-between">
    <h1 class="text-dark">
      {{ shoppingList.name }}
    </h1>
  </div>

  <div
    @fadeIn
    *ngIf="
      (!shoppingList.items || shoppingList.items?.length === 0) &&
      !isAddingNewItem
    "
    class="flex-center"
  >
    <h2>
      {{ "shoppingList.emptyStateTitle" | translate }}
    </h2>
  </div>

  <app-shopping-list-item
    *ngFor="let item of shoppingList.items"
    [shoppingListItem]="item"
    (updateItemChange)="onItemUpdate($event)"
    (deleteItemChange)="onItemDelete($event)"
  >
  </app-shopping-list-item>

  <app-shopping-list-item
    @fadeIn
    *ngIf="isAddingNewItem"
    [isNewItem]="true"
    (updateItemChange)="onNewItemSave($event)"
    (deleteItemChange)="onCancelAddNewItem()"
  >
  </app-shopping-list-item>

  <div class="d-flex justify-content-center">
    <button
      @fadeIn
      *ngIf="!isAddingNewItem"
      (click)="addShoppingListItem()"
      class="mt-3"
      mat-button
    >
      <mat-icon> add </mat-icon>
      {{ "shoppingList.addNewItem" | translate }}
    </button>
  </div>
</div>

<div @fadeIn *ngIf="isLoading" class="h-100 flex-center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
